# Dagster Helm chart values for Qovery deployment

runLauncher:
  type: K8sRunLauncher
  config:
    k8sRunLauncher:
      imagePullPolicy: Always
      loadInclusterConfig: true

dagsterWebserver:
  replicaCount: 1
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi

dagsterDaemon:
  enabled: true
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi

dagster-user-deployments:
  enabled: true
  enableSubchart: true
  deployments:
    - name: dagster-dummy
      image:
        repository: ghcr.io/yiannis-gkoufas/dagster-dummy
        tag: latest
        pullPolicy: Always
      dagsterApiGrpcArgs:
        - "-m"
        - "dagster_dummy"
      port: 3030
      includeConfigInLaunchedRuns:
        enabled: true
      resources:
        requests:
          cpu: 250m
          memory: 512Mi
        limits:
          cpu: 500m
          memory: 1Gi

postgresql:
  enabled: true
  postgresqlUsername: dagster
  postgresqlPassword: dagster
  postgresqlDatabase: dagster
  service:
    port: 5432
  persistence:
    enabled: true
    size: 8Gi

ingress:
  enabled: false
